*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --clr-dark: #141414;
    --clr-light: #B4B3B3;
    --clr-text: #008080;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.25rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
@keyframes popDown {
    0%{
        transform: translateY(-100px);
    }
}
section {
    padding: 0 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background:var(--clr-dark);
    color: var(--clr-text);
    margin: 0;
    font-family: sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}
section {
    padding: 3em 2em;
}
img {
    display: block;
    max-width: 100%;
}

/* Typography */
h1, 
h2,
h3 {
    line-height: 1;
    margin: 0;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
p {
    margin: 0px;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.navList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navLink{
    color: inherit;
    font-size: var(--fs-h3);
    text-decoration: none;
}
/* Navigation bar */
@media (min-width: 900px){
    header{
        background: rgb(17, 17, 17);
        width: 100%;
        justify-content: left;
        position: absolute;
        z-index: 10;
        justify-content: center;
        border-bottom: 1px solid rgb(101, 254, 254);
    }
    .fixed{
        bottom: inherit;
        left: 0;
        position: fixed;
        top: 0;
    }
    .activeNav {
        color: rgb(101, 254, 254);
    }
    .nonActive{
        color: var(--clr-text);
    }
    .navToggle{ 
        visibility: hidden;
    }
    .navList{
        display: flex;
        flex-wrap: wrap;
    }
    .navItem{   
        padding: 0 2rem;
    }
    .navLink {
        padding: .5rem 2rem;
    }
    .navLink:hover{
        border-radius: 5rem;
        background-color: var(--clr-text);
        color: white;
    }
    
}
/* Hamburger */
@media (max-width: 900px){
    .nav {
        position: fixed;
        background: var(--clr-dark);
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translate(100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }
    .navToggle {
        padding: .5em;
        background: transparent;
        border: 0;
        right: 1em;
        top: 1.5rem;
        z-index: 1000;
        position: fixed;
    }
    .navList{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navLink:hover{
        color: var(--clr-text);
    }
    .navOpen .nav{
        transform: translateX(0);
    }
    .navOpen .navToggle {
        position: fixed;
    }
    .navOpen .hamburger {
        transform: rotate(1turn);
    }
    .hamburger{
        display: block;
        position: relative;
    }
    .hamburger, .hamburger::before, .hamburger::after {
        background: var(--clr-light);
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }
    .hamburger::before, .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger::before {
        top: 6px;
    }
    .hamburger::after {
        bottom: 6px;
    }
}
@media (min-width: 1200px){
    header {
        padding-left: 10rem;
        justify-content: left;
    }
}

/* Intro */
.start {
    position: relative;
    height: 58vh;
    margin-bottom: 1vh;
}
@media (max-width: 1200) {
    .backgroundLine {
        position: relative;
        width: 8px; 
        height: 150vh;
        top: -55vh;
        background-color: var(--clr-text);
        transform: rotate(.60turn);
        z-index: -1;
        overflow: hidden;
    }
}
@media (max-width: 600px){
.backgroundLine {
    position: relative;
    width: 4px; 
    top: -100vh;
    left: 18vw;
    height: 110vh;
    background-color: var(--clr-text);
    transform: rotate(.60turn);
    z-index: -1;
    overflow: hidden;
    }
    .start {
        padding-top: 15vh;
    }
    .introText, .introText2 {
        font-size: 1.6rem;
    }
}
@media (min-width: 600px){
    .start {
        padding-top: 2rem;
        padding-left: 2rem;
        width: max-content;
        height: 76vh;
        overflow: hidden;
    }
    .introText, .introText2 {
        color: var(--clr-text);
        background-color: var(--clr-dark);
        font-size: var(--fs-h2);
        font-family: 'Koulen', sans-serif;
    }
    .introTitle {
        margin-bottom: 1em;
    }
    .introName {
        font-size: var(--fs-h1);
    }
    .backgroundLine {
        position: relative;
        width: 4px; 
        height: 300vh;
        top: -115vh;
        background-color: var(--clr-text);
        transform: rotate(.60turn);
        z-index: -1;
        overflow: hidden;
    }
}
@media (min-width: 1400px){
    .start {
        padding-top: 15vh;
        padding-left: 15rem;
    }
}
.introTitle {
    font-size: var(--fs-body);
    z-index: 1;
    padding: .5rem 0;
}
.introName {
    margin-top: 1rem;
}
.introText, .introText2 {
    color: rgba(201, 198, 198, 0.6);
    font-family: 'Koulen', sans-serif;
    width: fit-content;
    padding: 1rem 0;
}
.introText2 {
    color: rgba(201, 198, 198, 0.4);
}
.introName {
    font-size: var(--fs-h2);
    color: rgb(201, 198, 198);
    font-family: 'Koulen', sans-serif;
    width: fit-content;
}

/* Scroll Down/Up Button */
.wrapperButton{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 18vh;
}
.wrapperButtonUp{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnScrollToBottom, .scrollUpBtn{
    color: var(--clr-text);
    background-color: var(--clr-dark);
    border: none;
    justify-content: center;
    font-size: 3.5rem;
    height: fit-content;
}
@media (max-width: 600px) {
    .scrollUpBtn{
    font-size: 2rem;
    padding-left: .15rem;
    }
}
.btnScrollToBottom:hover, .scrollUpBtn:hover{
    color: #019696;
}
.btnScrollToBottom:active, .scrollUpBtn:active{
    color: var(--clr-dark);
    color: #019696;
}

/* About Me */
.aboutMeWrapper {
    margin: 4rem 0;
    width: 100%;
}
.aboutMeText {
    font-size: var(--fs-h3);
    text-align: center;
}
.aboutMeTitle { 
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-text);
    font-size: var(--fs-h1);
    color: var(--clr-text);
    width: fit-content;
}
@media (min-width: 600px){
    .aboutMeWrapper {
        height: 60vh;
    }
    .aboutMeTitle { 
        margin: 3rem auto;
        padding: 1rem 12rem;
    }
    .aboutMeText {
        font-size: var(--fs-h3);
        line-height: 2.75rem;
    }
}
@media (min-width: 900px){
    .aboutMeText {
    padding: 0 10rem;
    }
}
/* Footer */
footer {
    background: #111;
    color: var(--clr-text);
    text-align: center;
    padding: .25em 0 0 0;
    font-size: var(--fs-h3);
}
.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    padding-right: 0px;
    margin-bottom: 0;
    padding-inline-start: 0px;
}
.socialsItem {
    margin: 0 .5em;
}
.socialsLink {
    padding: 0 .5em;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: var(--clr-text);
    text-decoration: none;
    font-size: var(--fs-h2);
    
}
@media (min-width: 600px){
    .socialsLink {
        transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
    .socialsLink:hover {
        opacity: .7;
        color: var(--clr-dark);
        box-shadow: inset 120px 0 0 0 var(--clr-text);
    }
}

/* Projects */
.projects {
    width: 100%;
}
.gridWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: center;
}
@media (min-width: 900px) {
.gridWrapper{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 0 20vw;
}
}
.projectsTitle{
    width: fit-content;
    text-align: center;
    padding-bottom: 1rem;
    margin: 5rem auto;
    border-bottom: 1px solid var(--clr-text);
}
@media (min-width: 600px) {
.projectsTitle { 
    margin: 3rem auto;
    padding: 1rem 12rem;
}
}
.projectsTitle {
    font-size: var(--fs-h1);
}
.projectsContainer {
    background-color: #111;
    padding: 2rem 2rem;
}
.projectsContainer:hover{
    color: rgb(68, 189, 189);
    background-color: rgb(25, 25, 25);
    cursor: pointer;    
    margin-top: -25px;
    bottom: 0px;
}
.projectUse{
    color: #008080b2;
    font-size: 1rem;
}
.projectIcons{
    text-align: right;
}